body{
    background-color: #FFF;
}

.search-bar{
    padding-left: 1rem;
    width: 40rem;
}

/* .top{
    display: flex;
    align-items: center;
} */


.login-btn{
    width: 8rem;
    display: flex;
    justify-content: space-around;
}

.card{
    margin: 1.5rem;
}

.all-cart{
    display: flex;
    justify-content: space-around; 
    border: 1px solid #ccc;
    border-radius: 0.7rem;
    margin: 1.5rem;
    padding: 2rem;
   background-color: #F8F8F8;
}

.bottom-img{
    width: 70%;
    display: flex;
    align-items: center;
}

.cart-item{
    text-align: left;
}

.cart-image{
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 14rem;
    
}

.recommandation-div{
    border: 1px solid #ccc;
    border-radius: 0.7rem;
    margin: 1.5rem;
    padding: 2rem;
    background-color: #F8F8F8;
}

.my-btn{
    width: 15rem;
    margin: 1rem;
}

.check-mark{
    margin-right: 0.8rem;
}